# Backend Port
PORT=9100

# Database Connection
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=investment_db
DB_HOST=localhost
DB_PORT=5432

# Node Environment
NODE_ENV=development

QUESTRADE_REFRESH_TOKEN=<questrade_refresh_token_here>

